<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom box-shadow">
  <h5 class="my-0 mr-md-auto font-weight-normal text-danger">
    <strong>Como anda a ciclovia?</strong>
  </h5>
  <nav class="my-2 my-md-0 mr-md-3">
    <a class="p-2 text-dark" href="#">home</a>
    <a class="p-2 text-dark" href="whoami">o projeto</a>
    <a class="p-2 text-dark" href="feedback">fale conosco</a>
    <a class="btn btn-danger btn-sm" href="occurrences">+inserir ponto no mapa</a>
  </nav>
</div>
