<div class="container-fluid">
  <div class="row">

    <div class="col-sm">
      <h3>inserir ponto no mapa</h3>
      <p>Agora é hora de nos dizer o que você está vendo!</p>

      <agm-map [latitude]="latitude" [longitude]="longitude" [scrollwheel]="false" [zoom]="zoom">
        <agm-marker [latitude]="latitude" [longitude]="longitude"></agm-marker>
      </agm-map>

    </div>

    <div class="col-lg">
      <form #occurenceForm="ngForm">

        <div class="form-group">
          <label for="whereInput">Onde você está?</label>
          <input id="whereInput" name="whereInput" type="text" required autocorrect="off" autocapitalize="off" spellcheck="off" #search [formControl]="searchControl" class="form-control">
          <small class="form-text text-muted">caso consiga, coloque um número próximo para ajudar na localização</small>
        </div>

        <div class="form-group">
          <label for="nameInput">Qual o seu nome?</label>
          <input type="text" required #name="ngModel" [(ngModel)]="occurrence.name" class="form-control" id="nameInput" name="nameInput">
          <small class="form-text text-muted">Quem está reportando o problema?</small>
        </div>

        <!--
        <div class="form-group">
          <label for="loginInput">Login:</label>
          <input type="text" required [(ngModel)]="login" class="form-control" id="loginInput" name="loginInput">
          <small class="form-text text-muted">Login de administrador</small>
        </div>

        <div class="form-group">
          <label for="passwordInput">Senha:</label>
          <input type="password" required [(ngModel)]="password" class="form-control" id="passwordInput" name="passwordInput">
          <small class="form-text text-muted">Senha de administrador</small>
        </div>
        -->

        <div class="form-group">

          <label for="photosInput">Tem foto?</label>

          <br />

          <label class="btn btn-outline-danger">
            Selecionar foto <input id="photosInput" required name="photosInput" type="file" (change)="fileChangeEvent($event)"  multiple  hidden/>
          </label>

        </div>

        <div class="form-group">
          <label>O que você vê?</label>
          <div class="form-check">
            <div *ngFor="let status of statusList">
              <input type="radio" required [(ngModel)]="occurrence.status" class="form-check-input" name="statusRadio" [value]="status" id="{{status.id}}">
              <label class="form-check-label" for="maintenanceRadio">{{status.name}}</label>
            </div>
          </div>
        </div>

        <div class="form-group">
          <label for="TypeCombo">Selecione uma categoria</label>
          <select required class="form-control" [(ngModel)]="occurrence.type" name="type" id="TypeCombo">
            <option *ngFor="let type of typeList" [ngValue]="type">{{type.name}}</option>
          </select>
      </div>

        <div class="form-group">
          <label for="descriptionInput">Quer falar mais alguma coisa?</label>
          <input type="text" [(ngModel)]="occurrence.description" class="form-control" id="descriptionInput" name="description">
        </div>

        <button type="submit" (click)="save(); occurenceForm.reset()" [disabled]="!occurenceForm.form.valid" class="btn btn-danger btn-lg"> + Inserir ponto</button>

      </form>
    </div>

  </div>
</div>
